<%= current_user.name %>

<% if current_user.icon %>  <!-- アップロード画像がある場合に実行する -->
  <p>
    <%= image_tag current_user.icon.url, class: 'icon' %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
  </p>
<% end %>

  <div class="container homepage">
    <% @topics.each do |topic| %>
      <div class="box">
            <h2 class="topic-author">
            <%= topic.user.name %>
            </h2>
             <%= image_tag topic.image.url, class: 'homeimage' %>
            <p class="topic-text">
              <%= topic.description %>
            </p>
      </div>
    <% end %>
  </div>
